config INTERCONNECT_IMX
	bool "i.MX interconnect drivers"
	depends on ARCH_MXC || COMPILE_TEST
	help
	  Generic interconnect driver for i.MX SOCs

config INTERCONNECT_IMX8MM
	def_bool y
	depends on INTERCONNECT_IMX

config INTERCONNECT_IMX8MQ
	def_bool y
	depends on INTERCONNECT_IMX
